
// Custom styles
// Colors 
$clr-primary-light:hsl(240, 78%, 98%);
$clr-primary-normal:hsl(234, 14%, 74%);
$clr-primary-md:hsl(233, 13%, 49%);
$clr-primary-dark:hsl(232, 13%, 33%);
$clr-gradient-x:linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
$clr-gradient-y:linear-gradient( hsl(236, 72%, 79%), hsl(237, 63%, 64%));

// BOX SHADOW 
$bs: 0px 3px 5px 0px rgba(0, 0, 0, 0.226);

// BORDER RADIUS 
$br-sm: 4px;
$br-md: 6px;
//  END OF CUSTOM CSS ===============